#section1{
background-position: center;
background-color: gray;
background-size: cover;
background-repeat: no-repeat;
font-family: monospace;
font-size: 30px;
text-align: center;
}


#section2{
background-position: center;
background-color: #1CBEF1;
background-size: cover;
background-repeat: no-repeat;
}


#section3{
background-position: center;
background-color: gray;
background-size: cover;
background-repeat: no-repeat;
font-family: monospace;
font-size: 30px;
text-align: center;
}



#section4{
background-position: center;
background-color: #F95C29;
background-size: cover;
background-repeat: no-repeat;

}

#section5{
background-position: center;
background-color: gray;
background-size: cover;
background-repeat: no-repeat;
font-family: monospace;
font-size: 30px;
text-align: center;
}



#section6{
background-position: center;
background-color: #FCF564;
background-size: cover;
background-repeat: no-repeat;
}

.piling-paragraph {
font-family: monospace;
color: black;
font-size: 35px;
position: absolute;
top: 30%;
left: 2%;
width: 95%;
text-align: left;
}

/*button*/
.btn-return {
    Background: white;
    border: 2px solid;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    border-color: #1CBEF1;
    color: green;
    position: absolute;
    top: 85%;
    left: 43%;
}


.btn-return:hover {
    background-color: #1CBEF1;
    color: white;
}

.section{
    text-align: center;
    color: white;
}

#amazon {
position: absolute;   
top: 63%;
left: 44%;
height: 15%;
width: 10%;
border-radius: 20%;
border: solid;
border-color: black;
}

#amazon:hover{
color: white;
padding:0.5%;
}
