*{
    margin:0;
}


html,body{
    height:100%;
}


body {
    background-image: url("Gray.jpg");
    background-size: contain;
}

.mainheading{
    text-align: center;
  
}

ul{
    display:block;
    background:none;
    width: 100%;
    height:10%;
    position:relative;
    
    
    
}

ul li {
     list-style:none;
     display:inline;
     margin:5px;
     position:relative;
     top:40%;
     
}

ul li a{
    text-decoration: none;
    color:black;
    font-size:25px;
    border-radius: 15px;
    
}

.active{
    background:green;
    padding: 1%;
}

ul li a:hover{
    background: green;
    opacity:.8;
    color: white;
    padding:1%;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: cursive;
    font-size: 40px;
    position: relative;
    text-align: center;
    border: solid;
    bottom: -100px;
    
    
    
}
